.header{
    width: 100%;
    height: 200px;
   border: 1px solid black;
   
       
}

.header .dian{
    width: 200px;
    height: 80px;
    border: 1px solid black;
    display: inline-block;
    
}
img{
    width: 190px;
    height: 80px;
    object-fit: cover;
}

.header .tittle{
    width: 190px;
    height: 80px;
    border: 1px solid black;
    display: inline-block;
    
   

}
.header .blanck{
    width: 190px;
    height: 80px;
    border: 1px solid black;
    display: inline-block;
    
}

.header .code{
    width: 190px;
    height: 80px;
    border: 1px solid black;
    display: inline-block;
    padding: 20px;
    
}
